apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: platform
spec:
  project: platform
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.11.0
    chart: ingress-nginx
    helm:
      values: |
        controller:
          replicaCount: 1
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          service:
            type: LoadBalancer
  destination:
    server: https://kubernetes.default.svc
    namespace: platform
  syncPolicy:
    automated:
      prune: true
      selfHeal: true


