name: Terraform Security

on:
  pull_request:
    paths:
      - 'terraform/**'

jobs:
  security:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: tfsec
        uses: aquasecurity/tfsec-action@v1
        with:
          working_directory: .
      - name: Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .
          framework: terraform
